main{
     .nos_foto{
        width: 90%;
        height: auto;
        margin: 20px auto;
        padding: 5px;
        border-bottom: dotted $tercColor;
            .carousel-item{
               margin: auto 40%;
            }
    }
    .nos__historia{
        width: 90%;
        height: auto;
        margin: 20px auto;
        padding: 5px;
        border-bottom: dotted $tercColor;
    }
    p{
        color: $cuaColor;
        font-family: 'Roboto', sans-serif;
        font-size: $textSm;
        line-height: 2rem;
    }   
}



