#botonera{
    background-color: $mainColor;
    ul{
        list-style: none;
        li a{
            color: $cuaColor;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-size: $textL;
            margin: 0 $textS;
          }
        }
    svg{
        fill: $tercColor;
        }
    }
