$mainColor:rgba(192, 122, 122, .2);
$segColor:rgb(124, 10, 10);
$tercColor:rgb(95, 4, 4);
$cuaColor:  rgb(31, 1, 1);
$quiColor: rgb(241, 157, 157);

$textG: 5rem;
$textLg: 2.5rem;
$textL: 2rem;
$textMd: 1.8rem;
$textSm: 1.6rem;
